
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block pageTitle %}Mautic{% endblock %}</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ getOverridableUrl('images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ getOverridableUrl('images/apple-touch-icon.png') }}" />
    {{ outputSystemStylesheets() }}
    {{- include('@MauticCore/Default/script.html.twig') -}}
    {{ outputHeadDeclarations() }}
</head>
<body>
<section id="main" role="main">
    <div class="container ml-a mr-a" style="margin-top:100px;">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel" name="form-login">
                    <div class="panel-body">
                        <div class="" style="width: 100%; margin: 0 auto; display: flex; justify-content: center; align-items: center;">
                            <img src="{{ asset('media/images/deltalogos.svg') }}" alt="Mi Nuevo Logo" style="width: 300px; height: 150px;">
                        </div>
                        <div id="main-panel-flash-msgs">
                            {{- include('@MauticCore/Notification/flashes.html.twig') -}}
                        </div>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 text-center text-muted">
                    © {{ 'now'|date('Y') }} Delta Innova Labs - Todos los derechos reservados
                </div>
            </div>
        </div>
    </div>
</section>
{{ securityGetAuthenticationContext() }}
</body>
</html>
